.ticketTitle {
	-fx-text-fill: #ffffff;
	-fx-font-size: 22px;
}

.ticketDesc {
	-fx-text-fill: #ffffff;
	-fx-font-size: 14px;
}

/* comment area */
.commentList {
	-fx-padding: 20 0 10 20;
}

.ticketEditTicketButton {
	-fx-shape: "M429.548 30.836c-.307-.003-.6.005-.875.024-2.212.147-3.34.653-4.576 1.89l-27.58 27.58 55.156 55.154 27.578-27.58c1.238-1.236 1.744-2.363 1.89-4.575.15-2.21-.37-5.433-1.805-9.163-2.87-7.46-9.277-16.667-17.055-24.445-7.778-7.778-16.985-14.185-24.445-17.055-3.264-1.255-6.138-1.81-8.287-1.83zm-45.758 42.22l-9.9 9.9 9.9 9.9 12.727 12.727 9.9 9.9 12.727 12.728 9.9 9.9 9.9-9.9-55.155-55.155zm-22.627 22.626L72.665 384.186l9.898 9.897 288.5-288.5-9.9-9.9zm22.627 22.63L95.29 406.808l9.9 9.902 288.5-288.5-9.9-9.9zm22.63 22.626l-288.502 288.5 9.897 9.9 288.503-288.5-9.9-9.9zM63.223 400.198l-12.12 30.306 30.393 30.394 30.305-12.12-6.61-6.612L92.46 429.44l-9.9-9.9-12.73-12.728-6.61-6.612zm-19.395 48.488l-12.993 32.478 32.478-12.992-19.486-19.485z";
	-fx-min-width: 20px;
	-fx-min-height: 20px;
	-fx-max-width: 20px;
	-fx-max-height: 20px;
}

.ticketDeleteTicketButton {
	-fx-shape: "M216.012 36.703c-6.348.01-13.056.447-20.006 1.32-34.6 4.347-75.144 19.348-107.408 47.303l33.47 190.197.33 10.1c42.262 15.79 100.808 24.565 152.873 24.272 27.192-.154 52.657-2.762 72.982-7.8 20.325-5.04 35.188-12.803 41.803-20.917l.433.353c-14.317-48.847-60.635-88.597-135.474-56.27-12.09 5.612-24.333 12.902-36.332 21.685 11.24-16.29 23.786-29.055 36.76-38.453l.013-.12-27.066-14.183-35.343 25-10.793-15.256L209.8 184.45l-27.5-14.41 8.67-16.554 35.964 18.842 34.57-24.457 1.62-16.186-30.2-17.918-35.16 22.433-10.05-15.757 27.208-17.36-27.97-16.595 9.538-16.072 36.08 21.408 37.088-23.664c1.453-20.61-21.48-31.51-53.646-31.457zm51.082 55.262l-16.522 10.54 14.602 8.665 1.92-19.205zm-8.053 80.54l-13.517 9.563 11.936 6.254 1.58-15.816zm135.57 129.91c-10.84 8.135-25.243 13.7-41.86 17.82-22.375 5.546-49.07 8.188-77.373 8.347-21.232.12-43.344-1.15-65.117-3.76l12.463 22.137c80.16 9.438 141.51-1.205 172.035-21.796.718-7.44.658-15.098-.15-22.75zm-271.553 3.312l.996 30.464 58.595 8.456 9.58-22.312c-24.54-3.827-48.202-9.383-69.17-16.607zm-33.13 21.56c-2.51.75-4.906 1.515-7.175 2.3H35.236l24.928 11.085-44.28 25.63 45.677-4.822c2.33 1.773 5.212 3.498 8.62 5.166l-29.19 44.532 64.785-32.977c4.21.968 8.64 1.892 13.27 2.773l-10.733 66.783 61.413-59.744c5.432.527 10.985 1.008 16.67 1.435l11.673 77.528 50.93-75.073c2.03.013 4.05.034 6.096.034 2.436 0 4.85-.022 7.265-.04l56.216 76.782 6.903-79.364c5.663-.437 11.218-.92 16.625-1.457l60.782 59.9-10.762-66.976c4.528-.872 8.86-1.787 12.98-2.743l65.102 33.14-29.437-44.913c3.135-1.58 5.808-3.21 7.984-4.88l46.562 4.915-44.253-25.613 24.966-11.1h-48.592c-2.223-.77-4.564-1.52-7.016-2.253 5.408 3.254 8.34 6.724 8.34 10.326 0 18.587-77.737 33.652-173.627 33.652-95.89 0-173.627-15.065-173.627-33.652 0-3.62 2.96-7.105 8.418-10.373z";
	-fx-min-width: 20px;
	-fx-min-height: 20px;
	-fx-max-width: 20px;
	-fx-max-height: 20px;
}

.ticketCreateCommentButton {
	-fx-shape: "M12.5 3L2.5 3.00002C1.67157 3.00002 1 3.6716 1 4.50002V9.50003C1 10.3285 1.67157 11 2.5 11H7.50003C7.63264 11 7.75982 11.0527 7.85358 11.1465L10 13.2929V11.5C10 11.2239 10.2239 11 10.5 11H12.5C13.3284 11 14 10.3285 14 9.50003V4.5C14 3.67157 13.3284 3 12.5 3ZM2.49999 2.00002L12.5 2C13.8807 2 15 3.11929 15 4.5V9.50003C15 10.8807 13.8807 12 12.5 12H11V14.5C11 14.7022 10.8782 14.8845 10.6913 14.9619C10.5045 15.0393 10.2894 14.9965 10.1464 14.8536L7.29292 12H2.5C1.11929 12 0 10.8807 0 9.50003V4.50002C0 3.11931 1.11928 2.00003 2.49999 2.00002Z";
	-fx-min-width: 20px;
	-fx-min-height: 20px;
	-fx-max-width: 20px;
	-fx-max-height: 20px;
}