.mainRoot {
    -fx-background-color: #333333;
}

.mainHeader {
    -fx-padding: 25 0 10 75;
    -fx-background-color: #2a4e6c;
    /* fix color */
}

.mainTitleLabel {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-font-size: 40;
}

.mainNewProjectButton {
    -fx-text-fill: #333333;
    -fx-font-size: 20px;

    -fx-background-color: #ffffff;
    -fx-font-family: "Helvetica";
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-radius: 25px;
}

.mainNewProjectButton:hover {
    -fx-background-color: #cccccc;
}

.mainNewProjectButton:disabled {
    -fx-background-color: #bbbbbb;
}

.mainProjectGrid {
    -fx-padding: 25px;
}