.projectRoot {
	-fx-background-color: #444444;
	-fx-background-radius: 20px;
}

/* blue project header */
.projectHeader {
	-fx-background-color: #2a4e6c;
	-fx-padding: 20px;
	-fx-background-radius: 20 20 0 0;
}

.projectTitle {
	-fx-text-fill: #ffffff;
	-fx-font-size: 30px;
}

.projectDate {
	-fx-text-fill: #ffffff;
	-fx-font-size: 16px;
}

.projectDesc {
	-fx-text-fill: #ffffff;
	-fx-font-size: 16px;
}

/* ticket area */
.ticketList {
	-fx-padding: 20px;
}